vision_env/
__pycache__/
*.pyc 
.ipynb_checkpoints
.DS_Store
.vscode/
*.log
data/
models/
dragon/ 
TODO.md
intermediate_images/

# *.jpg
# *.png
# *.webp
# *.jpeg
# *.jfif
# *.avif
*.pth
*.pkl
# *.jpeg
